<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="primary">
    Welcome to {{ title }}!
  </h1>
</div>
<!-- <div class="bg-info clearfix">
  <button type="button" class="btn btn-secondary float-left">Example Button floated left</button>
  <button type="button" class="btn btn-secondary float-right">Example Button floated right</button>
</div> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="/dashboard">DashBoard</a>
    <a class="navbar-brand" href="#" routerLink="/heroes">Heroes List</a>
  </div>
</nav><!-- 
<app-dashboard></app-dashboard>
<app-heroes-list></app-heroes-list> -->
<router-outlet></router-outlet>